 <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
        <%= image_tag '/logo.svg', class: 'home-logo' %>

      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="mailto:ping.jayshree@gmail.com">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover text-center">
    <h1 class="cover-heading">Software to help artists & galleries setup virtual art studio</h1>
    <p class="lead">Digitze art, setup virtual studio and host virtual events!</p>
    <p class="lead">
      <a href="/explore" class="btn btn-lg btn-purple">EXPLORE</a>
    </p>
  </main>



  <footer class="mastfoot mt-auto">
    <div class="inner">
      <%# <p>Virtual Studio -  by <a href="https://jayshreeanand.in">@jayshreeanand</a></p> %>
    </div>
  </footer>
</div>