<h3 class="pt-5"> Walkthrough </h3>
<div class="pl-2 py-5">  
  <%- @places.in_groups_of(2, false).each do |places| %>
    <div class="row">
      <%- places.each do |place| %>
        <div class="col-md-6 vr-box">
          <%= place.content.html_safe %>
        </div>
      <% end%>
      </div>
  <% end %>
</div>

